.Board {
    width: 500px;
    height: 500px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border: 8px solid #84817a;
    box-shadow: 3px 3px 10px #3f3d38;
}

@media (max-width: 520px) {
    .Board {
        width: calc(100vw - 10px);
        height: calc(100vw - 10px);
    }
}