.NewGame-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
}

.Levels {
    max-width: 50%;
    display: flex;
    justify-content: space-between;
}

.Level-button {
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    border: 3px solid #010309;
    background-color: #e3e8ea;
    transition: .15s;
}
.Level-button:first-child {
    margin-left: 0;
}

.Level-button:hover, .Active {
    background-color: #2751c4;
    color: #e3e8ea;
}

@media (max-width: 520px) {
    .Level-button {
        margin: 0 3px;
    }
}